.DS_Store
node_modules/
__pycache__
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.venvs
.vscode
envvariables.sh
database
promAPI/
temp/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
